
.main-hex {
    position: relative;
    z-index: 50;
    height: calc(100vh - 62px);
}

.minimap-container{
    z-index: 1010;
    position: relative;
}

.minimap-box {
    padding: 11px 13px;
}



@media (max-width: 500px) {
    .minimap-box {
        display: none;
    }
  
  }