
.main-interface {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    background-color: #301b14;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}



.main-resources {
  position: relative;
  z-index: 1000;
  top: 0;
  background-color: #301b14;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  border-radius: 5px;
  max-width: 100vw;
}




.inv-content {
    z-index: 1001;
    position: relative;
    padding: 10px;
}


.res-content {
  margin-left: 15px;
}




.inv-img-container{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 5px;
}

.inv-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.inventory-row {
    display: flex;
    justify-content: flex-start;
    
  }
  .inventory-item {
    padding: 5px;
    max-width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    margin: 2px;
    box-shadow: inset 0 2px 5px 0px rgb(189, 189, 189);

  }


  .item-name {
    font-weight: bold;
    color: white;
    font-size: 12px;
  }
  
  .item-quantity {
    width: 100%;
    color: white;
  }

  .main-profile {
    display: none;
  }

  
@media (max-width: 500px) {

  .leaflet-control-zoom{
    top: 70px;
  }


  .main-resources {
    position: absolute;
    max-width: 50vw;
  }

  .main-profile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 1000;
  }

  .main-profile img {    
    border-radius: 5px;
  }

  .main-hex {
    height: 100vh;
  }

  .res-row {
    overflow-x: auto;
  }

  .res-items{
    margin-left: 170px;
  }


  .res-content {
    margin: auto;
  }
  .res-row{
    justify-content: center;
  }

  .main-interface{
    right: 0;
    left: 0;
    width: 60%;
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    width: 100vw;
    text-align: center;
    margin-bottom: 50px;
  }

  .main-interface button {
    border-radius: 100%;
    padding: 15px 20px;
    background-color: rgba(103, 217, 255, 0.745);
    border: solid 1px gray;
    margin: 5px
  }

  .center-button-container {
    display: inline;
    position: relative;
    padding: 25px;
  }

  .center-button-container button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: -20px;
  }

  .main-interface .inv-content {
    display: none;
  }

  .main-interface .inv-img-container{
    display: none;
  }

  .inv-buttons-container{

  }

  .inventory-row {    
  }

}